:root {
  // Primary
  --Very-dark-blue: hsl(233, 47%, 7%);
  --Dark-desaturated-blue: hsl(244, 38%, 16%);
  --Soft-violet: hsl(277, 64%, 61%);

  // Neutral
  --White: hsl(0, 0%, 100%);
  --Slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
  --Slightly-transparent-white: hsla(0, 0%, 100%, 0.6);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--Very-dark-blue);
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
}

.card-component {
  background-color: var(--Dark-desaturated-blue);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  inline-size: 328px;
  margin: auto;
  margin-block-start: 40px;
}

.card-image {
  background: hsl(277, 64%, 61%) url("../images/image-header-mobile.jpg");
  background-size: contain;
  block-size: 240px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  inline-size: 100%;
}

.card-descriptions {
  h1 {
    color: var(--White);
    font-family: "Inter", sans-serif;
    font-size: 28px;
    margin-block-end: 20px;
    margin-block-start: 40px;
    margin-inline: 30px;
    text-align: center;

    span {
      color: var(--Soft-violet);
    }
  }

  .description {
    color: var(--Slightly-transparent-white);
    font-family: "Inter", sans-serif;
    font-weight: 400;
    line-height: 24px;
    margin-block-end: 50px;
    margin-inline: 30px;
    text-align: center;
  }
}

.card-reference {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-block-end: 25px;

  .info {
    margin-block-end: 25px;

    h2 {
      color: var(--White);
      margin-block-end: 10px;
    }

    p {
      color: var(--Slightly-transparent-white);
      text-transform: uppercase;
    }
  }
}

.attribution {
  color: var(--Slightly-transparent-white);
  font-size: 11px;
  margin-block-end: 20px;
  margin-block-start: 20px;
  text-align: center;

  a {
    color: var(--White);
  }

  a:hover {
    color: var(--Slightly-transparent-white);
    font-family: "Inter", sans-serif;
    font-weight: bold;
  }
}

@media only screen and(min-width:960px) {
  .card-component {
    flex-direction: row-reverse;
    inline-size: 1112px;
    margin-block-start: 80px;
  }

  .card-image {
    background-color: var(--Soft-violet);
    background: url("../images/image-header-desktop.jpg");
    background-size: cover;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0px;

    inline-size: 100%;
    block-size: auto;
  }

  .card-descriptions {
    h1 {
      margin-inline-end: 80px;
      margin-inline-start: 80px;
      text-align: start;
    }

    .description {
      margin-inline-end: 80px;
      margin-inline-start: 80px;
      text-align: start;
    }
  }

  .card-reference {
    flex-direction: row;
    margin-inline-end: 80px;
    margin-inline-start: 80px;
  }

  .info {
    margin-inline-end: 55px;
  }

  .info:last-child {
    margin-inline-end: 0;
  }

  .attribution {
    font-size: 12px;
    margin-block-start: 40px;
  }
}
